<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Thêm mới sách</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="d-flex flex-column gap-4">
      <input
        type="hidden"
        name="_token"
        value="qJr1mSJgITQLEPg4xotHo5EjoKYJVMGm31r97vKz"
        autocomplete="off"
      />
      <div class="col-12 d-flex align-items-end">
        <input class="btn btn-success ms-auto" type="submit" value="Lưu" />
      </div>
      <div class="col-12 row">
        <div class="col-6">
          <div class="form-group">
            <label for="category" class="form-label fw-bold"
              >Thể loại <span class="text-danger">*</span></label
            >
            <select class="form-select" id="category" name="category">
              <option value="" selected="">Trang chủ</option>
              <option value="1">Danh mục / Điện Thoại</option>
              <option value="2">Danh mục / Máy tính xách tay</option>
              <option value="3">Danh mục / Máy tính bảng</option>
            </select>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="category" class="form-label fw-bold"
              >Tác giả <span class="text-danger">*</span></label
            >
            <select class="form-select" id="category" name="category">
              <option value="" selected="">Trang chủ</option>
              <option value="1">Danh mục / Điện Thoại</option>
              <option value="2">Danh mục / Máy tính xách tay</option>
              <option value="3">Danh mục / Máy tính bảng</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-12 row">
        <div class="col-6">
          <div class="form-group">
            <label for="category" class="form-label fw-bold"
              >Giá <span class="text-danger">*</span></label
            >
            <input
              type="number"
              class="form-control"
              id="link"
              name="link"
              placeholder="Nhập giá"
              value=""
              autocomplete="off"
              min="1"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="link" class="form-label fw-bold">Số lượng<span class="text-danger">*</span></label>
            <input
              type="number"
              class="form-control"
              id="link"
              name="link"
              placeholder="Nhập số lượng"
              value=""
              autocomplete="off"
              min="1"
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="link" class="form-label fw-bold">Link hình ảnh</label>
          <input
            type="text"
            class="form-control"
            id="link"
            name="link"
            placeholder="Nhập link trỏ đến"
            value=""
            autocomplete="off"
          />
        </div>
      </div>


      <div class="col-12">
        <div class="form-group">
          <label for="status" class="form-label fw-bold"
            >Trạng thái <span class="text-danger">*</span></label
          >
          <select class="form-select" id="status" name="status" required="">
            <option value="1">Hiển thị</option>
            <option value="0">Ẩn</option>
          </select>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- block-book-btn -->
