<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Quản lý sách</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <form action="" class="d-flex algin-items-center justify-content-between">
          <div
            class="d-flex flex-wrap justify-content-start algin-items-center gap-2 gap-md-3 mt-3 ml-3"
          >
            <div class="col-12 col-md-auto">
              <input
                class="form-control"
                type="text"
                name="q"
                autocomplete="off"
                placeholder="Nhập từ khóa tìm kiếm..."
                value="<%= typeof get.q !== 'undefined' ? get.q : '' %>"
              />
            </div>

            <div class="col-12 col-md-auto">
              <select name="status" class="form-select">
                <option value="" <% if (!get.status || get.status === "") { %>selected<% } %>>Trạng thái</option>
                <option value="0" <% if (get.status === "0") { %>selected<% } %>>Khóa</option>
                <option value="1" <% if (get.status === "1") { %>selected<% } %>>Hoạt động</option>
              </select>
            </div>
            <div class="col-md-auto">
              <button type="submit" class="btn btn-primary gap-2">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span>Tìm kiếm</span>
              </button>
            </div>
            <div class="col-md-auto">
              <a
                href="/"
                class="btn btn-info gap-2"
              >
                <i class="fa-solid fa-rotate"></i>
                <span>Làm mới</span>
              </a>
            </div>
            <div class="flex-1 d-flex algin-items-center">
            
              <a href="/addBook" class="btn btn-success d-flex justify-content-center align-items-center gap-2 ms-auto" style="width: fit-content;">
                <i class="fa-solid fa-plus"></i>
                <span>Thêm mới</span>
              </a>
              
            </div>
            <button class="btn btn-success d-flex justify-content-center align-items-center gap-2 ms-auto ml-3 " style="width: fit-content;" id="add-type-btn">
              <i class="fa-solid fa-plus"></i>
              <span>Thêm thể loại</span>
            </button>
          </div>
          
          
        </form>
          <!-- /.card-header -->
          <div class="card-body">
            <table
              id="example2"
              class="table table-bordered table-hover"
              style="text-align: center; vertical-align: center"
            >
              <thead>
                <tr>
                  <th>Tên</th>
                  <th>Tác giả</th>
                  <th>Thể loại</th>
                  <th>Giá</th>
                  <th>Mô tả</th>
                  <th>Số lượng</th>
                  <th>Trạng thái</th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody id="content-tb">
                
                <%- dataTb %>
                
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- block-book-btn -->







<script src="./js/mainHome.js">
  
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const urlParams = new URLSearchParams(window.location.search);
    const alertParam = urlParams.get('alert');

    if (alertParam) {
      // Tạo một URL mới mà không chứa tham số alert
      const newUrl = new URL(window.location.href);
      newUrl.searchParams.delete('alert');

      // Thay đổi URL của trình duyệt mà không tải lại trang
      window.history.replaceState({}, document.title, newUrl.href);
    }
  });
</script>
<% if (alert !== null) { %>
  <% if (alert === 'addSuccess') { %>
    <script>
      Swal.fire({
        title: "Thành công",
        text: "Thêm thành công",
        icon: "success"
      });
    </script>
  <% } else if (alert === 'addFailure') { %>
    <script>
      Swal.fire({
        title: "Thất bại",
        text: "Có lỗi thử lại sau",
        icon: "error"
      });
    </script>
  <% } else if (alert === 'editSuccess') { %>
    <script>
      Swal.fire({
        title: "Sửa công",
        text: "Sửa thành công",
        icon: "success"
      });
    </script>
  <% } %>
<% } %>



